.txt-tag {
  background-color: $primary-color;
  width: 115px;
  height: 25px;

  border-radius: 10px;

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 19.964px */
}
