// gestion des titres h1
@mixin title-style {
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

// gestion des titres h3
@mixin title-h3 {
  color: #ff6060;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 25.668px */
}

//les angles arrindis dans tous les navigateurs
@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -modz-border-radius: $radius;
  border-radius: $radius;
}

//Gestion flexbox row 
@mixin flex-row-align($align-items: center) {
  display: flex;
  flex-direction: row;
  align-items: $align-items;
}

//Gestion flexbox column
@mixin flex-column-align($align-items: center) {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
}
