//Color main page
$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$tertiary-color: #ffffff;
$backgroud-footer-color: #000;
$backgroud-cards-color: #fff;
$host-color: #c4c4c4;
$background-banner: lightgray 50%;

$width-mobile: 768px;
$width-tablete: 1024px;
$width-desktop: 1440px;
